body {
    font-family: Arial, sans-serif;
}

#app {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

#inventory {
    margin-top: 20px;
}

.skin {
    display: inline-block;
    margin: 10px;
}